.header {
    background: url(../../assets/img/header_fon.svg);
    background-size: 100%;
    height: 745px;
}

.header .nav_bar{
    display:grid;
    grid-auto-flow: column;
    padding: 12px; 
}

.header .nav_bar svg{
    width: 134px;
    height: 37px;
    margin-top: 20px;
    margin-left: 210px;
}

.header .nav_bar p {
    margin-left: 215px;
    color: white;
    margin-top: 0;
}

.header .h1 p{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-top: 120px;
    color: #D4C17F;
}

.header .h1 svg{
    width: 40px;
    height: 40px;
    margin-left: 750px;
    margin-top: 50px;
}

.header .contacts{
    display:grid;
    grid-auto-flow: column;
    padding: 12px; 
    justify-content: center;
    margin-top: 150px;
    column-gap: 50px;
    padding-right: 50px;
}

.header .contacts .adress, .phone{
    display:grid;
    grid-auto-flow: column;
    padding: 12px; 
    justify-content: center;
    column-gap: 15px;
    color: white;
    font-family: 'Raleway';
}

.header .contacts .adress svg{
    margin-top: 15px;
}
.header .contacts .phone svg{
    margin-top: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&display=swap');